@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div> @* List of whole form error message*@

<div class="agileits-top">
    <form asp-action="SendEmail" method="post">

        <div class="form-group">
            <label class="col-form-label" asp-for="Email"></label>
            <input class="form-control email" asp-for="Email" placeholder="E-mail">
        </div>

        <input type="submit" value="Send Email">
    </form>
</div>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial"></partial>
}

